<nav class="p-6 bg-white-100">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="/" class="flex items-center">
        <span class="self-center text-xl font-Times whitespace-nowrap text-black-800">ONLINE VOTING SYSTEM</span>
      </a>
      <div class="w-auto">
        <ul class="flex">
          <li>
            <a href="/password-reset" class="block px-4 text-blue-800 rounded"></a>
          </li>
          <li>
            <a href="/signout" class="block px-4 text-black-800 rounded ">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>