<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/css/style.css">    
    <title><%= title %></title>
</head>
<style>
    body {
       background-color: rgb(9, 235, 171);
    }
 </style>
<body class="voting">
  
    <nav class="p-8 ">
        <div class="container flex flex-wrap items-center justify-center mx-auto ">
          <a href="/" class="flex items-center  ">
            <span class="self-center text-4xl font-Times New Roman whitespace-nowrap text-black-500 bg-black-10 ">ONLINE VOTING SYSTEM</span>
          </a>
         
        </div>
    </nav>    
    
    <div class="grid grid-cols-3">
        <div class="col-start-2 col-span-2">            
            <p class="py-8 text-4xl  text-gray-600"></p>
        </div>
        
    </div>
    <div class="grid grid-cols-8">
        <div class="col-start-4 col-span-2">
          <p class="px-1 text-2xl  text-gray-600" >New here? <a class="text-blue-600" href="/signup">Sign-up</a></p>
          <p class="px-1 text-2xl  text-gray-600">Already have an account? <a class="text-blue-600" href="/login">Sign-in</a></p>
        </div>
    </div>
</body>
</html>